// ————————————————————————————————————
//* ——— driver
// ————————————————————————————————————
.second_driver_phone_front,
.second_driver_phone_front_road,
.second_driver_phone_front_truck,
.second_driver_phone_front_camera,
.second_driver_phone_front_tone,
.second_driver_phone_front_height,
.second_driver_phone_front_info_one,
.second_driver_phone_front_info_two,
.second_driver_phone_front_info_three {
  opacity: 0;
}

// ————————————————————————————————————
//* ——— brokerage
// ————————————————————————————————————

// ————————————————————————————————————
//* ——— shipper
// ————————————————————————————————————
.first_shipper_phone_middle,
#first_shipper_phone_middle_road,
.first_shipper_phone_middle_chapter_three,
.first_shipper_phone_middle_chapter_two,
.first_shipper_phone_middle_chapter_one,
.first_shipper_phone_middle_truck,
.first_shipper_phone_middle_truck_info {
  opacity: 0;
}

.second_shipper_card_one,
.second_shipper_card_two,
.second_shipper_card_three,
.second_shipper_card_four,
.second_shipper_card_five {
  opacity: 0;
}
