@charset "utf-8";
@import "global";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

* {margin: 0;padding: 0;font-family: "Pretendard Variable", Pretendard, sans-serif;}
html {font-size: 62.5%;}
html,body{width:100%;height:100%;padding:0;margin:0;}
html{height:100%;-webkit-text-size-adjust:none;}
body {overflow-x: auto;position: relative;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td{color:#101010;font-weight: 400;}

img {border:none;user-select: none;}
ul,ol {list-style:none;}
em {font-style:normal;}
a {text-decoration:none;color:inherit;}
a:hover,a:active,a:focus {text-decoration:none;}
input, button, button:focus, input:focus {outline:none;}
table,td,th {border-collapse: collapse; border-spacing:0;margin:0;padding:0;}
textarea {letter-spacing: 0;outline: none;overflow: auto;resize: none;}
input::placeholder, textarea::placeholder {color: #999;}

header {
    width: 100%;position: fixed;top: 0;left: 0;z-index: 100;transition: height 1s;background-color: #f5f5f5;
    .headerWrap {
        width: 100%;height: 10rem;max-width: calc(100% - 6.8rem);margin: auto;padding: 3rem 2rem 0 2rem;transition: all 0.3s;
        .headerInner {
            width: 100%;display: flex;align-items: center;justify-content: space-between;
            h1 {
                text-indent: -999em;background-size: auto;width: 11.2rem;height: 4.5rem;background:url("../images/logo.svg") no-repeat 0 0;cursor: pointer;
            }
            nav {
                ul {
                    display: flex;align-items: center;
                    li {
                        margin: 0 2.5rem;position: relative;
                        & > a {
                            font-size: 2.2rem;font-weight: 700;height: 3.6rem;
                        }
                        p {
                            position: absolute;left: 0;top: 3.6rem;display: flex;align-items: center;
                        }
                    }
                }
            }
        }
    }
}
#introduction {
    .introduction-main {
        width: 100%;height: 90rem;background-color: #f3f5f6;display: flex;align-items: center;justify-content: center;
        .introduction-media {
            width: 100%;height: 90rem;
        }
        .introduction-main-text {
            text-align: center;width: 100%;display: flex;align-items: center;justify-content: center;position: absolute;flex-direction: column;
        }
    }
}
@import "media";