@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  overflow-x: auto;
  position: relative;
}

body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td {
  color: #101010;
  font-weight: 400;
}

img {
  border: none;
  user-select: none;
}

ul, ol {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

input, button, button:focus, input:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

table, td, th {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

textarea {
  letter-spacing: 0;
  outline: none;
  overflow: auto;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #999;
}

/* Layout */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: height 1s;
  box-shadow: 0 0 20px -10px rgba(16, 16, 16, 0.2);
  background-color: #fff;
}
header .headerWrap {
  width: 100%;
  height: 10rem;
  max-width: calc(100% - 6.8rem);
  margin: auto;
  padding: 3rem 2rem 0 2rem;
  transition: all 0.3s;
  box-sizing: border-box;
}
header .headerWrap.on {
  height: 14rem;
}
header .headerWrap .headerInner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
header .headerWrap .headerInner h1 {
  text-indent: -999em;
  width: 11.2rem;
  height: 4.5rem;
  background: url("../images/logo.svg") no-repeat 50% 50%;
  cursor: pointer;
  background-size: 100% auto;
}
header .headerWrap .headerInner h1 a {
  display: block;
  height: calc(100% - 0px);
}
header .headerWrap .headerInner nav {
  position: relative;
}
header .headerWrap .headerInner nav .responseBar {
  display: none;
  cursor: pointer;
}
header .headerWrap .headerInner nav .responseBar span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: #101010;
  margin: 0.4rem 0;
}
header .headerWrap .headerInner nav ul {
  display: flex;
  align-items: center;
}
header .headerWrap .headerInner nav ul li {
  margin: 0 2.5rem;
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .headerWrap .headerInner nav ul li > a {
  font-size: 2.2rem;
  font-weight: 700;
  height: 3.6rem;
}
header .headerWrap .headerInner nav ul li em {
  width: 0;
  height: 0.5rem;
  background-color: #fff;
  top: 3.5rem;
  transition: width 0.3s;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .headerWrap .headerInner nav ul li p {
  position: absolute;
  left: 0;
  top: 3.6rem;
  display: none;
  align-items: center;
}
header .headerWrap .headerInner nav ul li p a {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  white-space: nowrap;
}
header .headerWrap .headerInner nav ul li p a:first-child {
  padding-left: 0;
}
header .headerWrap .headerInner nav ul li:hover em {
  width: 100%;
  background-color: #101010;
}
header .headerWrap .headerInner nav ul li:hover p {
  display: flex;
}
header .headerWrap .headerInner nav ul li.close {
  padding: 1.3rem 2rem;
  display: none;
  justify-content: flex-end;
  border-bottom: thin solid rgba(217, 217, 217, 0.1);
}
header .headerWrap .headerInner nav ul li.close button {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url("../images/close.svg") no-repeat 50% 50%;
}
header .headerWrap .headerInner .responseBg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 110;
  display: none;
}
header .headerWrap .headerInner .goTo {
  height: 3.6rem;
  font-size: 2rem;
  font-weight: 500;
  color: #101010;
  border-radius: 3rem;
  border: 1px solid rgba(16, 16, 16, 0.6);
  padding: 0.6rem 1.7rem;
  box-sizing: border-box;
}

/* Footer */
footer {
  background-color: #183256;
  padding: 6.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
footer .footer-logo {
  text-indent: -999em;
  background: url("../images/logo_white.svg") no-repeat 50% 50%;
  background-size: 100% auto;
  width: 10rem;
  height: 4rem;
  margin-bottom: 2.4rem;
}
footer .footer-address {
  display: flex;
  align-items: center;
  gap: 0 2rem;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
}
footer .footer-address span {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
footer .footer-term {
  margin-bottom: 1rem;
}
footer .footer-term ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-term ul li {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 0.8rem;
  margin-top: 1.95rem;
}
footer .footer-term ul li b {
  color: #fff;
}
footer .footer-term ul li:first-child {
  padding-left: 0;
}
footer .footer-term ul li:last-child {
  border-right: none;
}
footer .footer-copyright {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Layout */
#wrap.home.blackTop header, #wrap.home.transTop header {
  box-shadow: none;
}
#wrap.home.blackTop header .headerWrap .headerInner h1, #wrap.home.transTop header .headerWrap .headerInner h1 {
  background-image: url("../images/logo_white.svg");
}
#wrap.home.blackTop header .headerWrap .headerInner nav .responseBar span, #wrap.home.transTop header .headerWrap .headerInner nav .responseBar span {
  background-color: #fff;
}
#wrap.home.blackTop header .headerWrap .headerInner nav ul li > a, #wrap.home.blackTop header .headerWrap .headerInner nav ul li p a, #wrap.home.transTop header .headerWrap .headerInner nav ul li > a, #wrap.home.transTop header .headerWrap .headerInner nav ul li p a {
  color: #fff;
}
#wrap.home.blackTop header .headerWrap .headerInner nav ul li:hover em, #wrap.home.transTop header .headerWrap .headerInner nav ul li:hover em {
  background-color: #fff;
}
#wrap.home.blackTop header .headerWrap .headerInner .goTo, #wrap.home.transTop header .headerWrap .headerInner .goTo {
  border-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  border-width: 2.6px;
}
#wrap.home.blackTop header {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
#wrap.home.transTop header {
  background-color: transparent;
}

#wrap.sub {
  padding-top: 20rem;
}
#wrap.sub #contentWrap {
  min-height: 130rem;
  max-width: 1032px;
  margin: auto;
  width: 100%;
}

.itgoWebTab {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #898989;
}
.itgoWebTab button {
  font-size: 2rem;
  font-weight: 600;
  height: 7rem;
  cursor: pointer;
}
.itgoWebTab .indicate {
  position: absolute;
  height: 0.5rem;
  background-color: #e5318e;
  bottom: -1px;
  left: 0;
  transition: left 0.5s;
}
.itgoWebTab.setTab_1 .indicate {
  left: 0;
}
.itgoWebTab.setTab_1 button:nth-child(1) {
  color: #e5318e;
}
.itgoWebTab.setTab_2 button:nth-child(2) {
  color: #e5318e;
}
.itgoWebTab.setTab_3 button:nth-child(3) {
  color: #e5318e;
}
.itgoWebTab.setTab_4 button:nth-child(4) {
  color: #e5318e;
}
.itgoWebTab.setTab_5 button:nth-child(5) {
  color: #e5318e;
}
.itgoWebTab.setTab_6 button:nth-child(6) {
  color: #e5318e;
}
.itgoWebTab.setTab_7 button:nth-child(7) {
  color: #e5318e;
}
.itgoWebTab.setTab_8 button:nth-child(8) {
  color: #e5318e;
}
.itgoWebTab.setTab_9 button:nth-child(9) {
  color: #e5318e;
}

.pageTitle {
  margin-bottom: 4.3rem;
}
.pageTitle strong {
  height: 7.5rem;
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  padding-left: 10.1rem;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.pageTitle strong.notice {
  background-image: url("../images/ic_notice.svg");
}
.pageTitle strong.qna {
  background-image: url("../images/ic_qna.svg");
}

#introduction .introduction-main {
  width: 100%;
  height: 90rem;
  background-color: #f3f5f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#introduction .introduction-main .introduction-media {
  width: 100%;
  height: 90rem;
}
#introduction .introduction-main .introduction-media video {
  width: 100%;
  height: 90rem;
  object-fit: cover;
}
#introduction .introduction-main .introduction-main-text {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
}
#introduction .introduction-tab .itgoWebTab {
  width: 100%;
  background-color: #f3f5f6;
  border: none;
}
#introduction .introduction-tab .itgoWebTab button, #introduction .introduction-tab .itgoWebTab .indicate {
  width: calc(100% / 3);
}
#introduction .introduction-tab .itgoWebTab.setTab_2 .indicate {
  left: calc((100% / 3) * 1);
}
#introduction .introduction-tab .itgoWebTab.setTab_3 .indicate {
  left: calc((100% / 3) * 2);
}

.noticeTab .itgoWebTab button, .noticeTab .itgoWebTab .indicate {
  width: calc(100% / 2);
}
.noticeTab .itgoWebTab.setTab_2 .indicate {
  left: calc((100% / 2) * 1);
}

.qnaTab .itgoWebTab button, .qnaTab .itgoWebTab .indicate {
  width: calc(100% / 4);
}
.qnaTab .itgoWebTab.setTab_2 .indicate {
  left: calc((100% / 4) * 1);
}
.qnaTab .itgoWebTab.setTab_3 .indicate {
  left: calc((100% / 4) * 2);
}
.qnaTab .itgoWebTab.setTab_4 .indicate {
  left: calc((100% / 4) * 3);
}

.subTab {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 4.5rem 0 2.4rem;
}
.subTab button {
  min-width: 9rem;
  height: 4.4rem;
  background-color: #f3f5f6;
  border-radius: 3rem;
  max-width: 11rem;
  font-size: 1.8rem;
  color: #666;
  transition: all 0.5s;
  font-weight: 600;
  width: 34.4rem;
  cursor: pointer;
}
.subTab button.active {
  background-color: #183256;
  color: #fff;
}

.boardList ul li {
  border-bottom: 1px solid #e2e2e2;
}
.boardList ul li .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.boardList ul li .info .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3rem 0;
  height: 2.3rem;
  width: calc(100% - 70px);
}
.boardList ul li .info .list .type {
  font-size: 1.4rem;
  padding-left: 1.6rem;
  flex-grow: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.boardList ul li .info .list .type span {
  text-align: center;
  width: 8rem;
  border: thin solid #e5318e;
  box-sizing: border-box;
  display: block;
  padding: 0.3rem 0;
  border-radius: 2rem;
  color: #e5318e;
}
.boardList ul li .info .list .type em {
  color: #828282;
}
.boardList ul li .info .list .title {
  flex-grow: 1;
  margin-left: 1.3rem;
}
.boardList ul li .info .list .title b {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
}
.boardList ul li .info .list .title b.Q {
  background: url("../images/ic_q.svg") no-repeat 0 50%;
  padding-left: 1.8rem;
}
.boardList ul li .info .list .date {
  color: #aaa;
  text-align: right;
  flex-grow: 0;
  font-size: 1.8rem;
  font-weight: 500;
}
.boardList ul li .info .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}
.boardList ul li .info .btn button {
  width: 3rem;
  height: 3rem;
  background: url("../images/ic_down.svg") no-repeat 50% 50%;
  background-size: 3rem auto;
}
.boardList ul li .content {
  background-color: #f3f5f6;
  padding: 2.45rem 10.5rem;
  border-top: 1px solid #e2e2e2;
  display: none;
}
.boardList ul li .content > div {
  min-height: 15.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.boardList ul li .content > div.A {
  background: url("../images/ic_a.svg") no-repeat 0 4px;
  padding-left: 2.4rem;
  margin-left: 5.6rem;
}
.boardList ul li.open .info .btn {
  transform: rotate(180deg);
}
.boardList ul li.open .content {
  display: block;
}

#terms .terms-title {
  margin-bottom: 1.7rem;
  padding: 0 0 1rem 0.3rem;
  border-bottom: thin solid #898989;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#terms .terms-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
#terms .terms-title .terms-select {
  width: 100%;
  max-width: 32rem;
  height: 4.4rem;
  padding: 0 0.7rem 0 1.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
#terms .terms-title .terms-select span {
  font-weight: 500;
  color: #585858;
  font-size: 1.6rem;
}
#terms .terms-title .terms-select svg {
  transition: all 0.3s;
}
#terms .terms-title .terms-select .terms-date-select-option {
  position: absolute;
  display: none;
  top: 4.6rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}
#terms .terms-title .terms-select .terms-date-select-option li {
  font-size: 1.4rem;
  font-weight: 500;
  color: #585858;
  padding: 1rem 1.5rem;
}
#terms .terms-title .terms-select.open .terms-date-select-option {
  display: block;
}
#terms .terms-title .terms-select.open svg {
  transform: rotate(-180deg);
}

#terms .terms-inner {
  padding: 6rem 3.5rem;
  margin-bottom: 12.2rem;
  max-height: calc(100vh - 0px);
  overflow-y: scroll;
  background: #fafafa;
}
#terms .terms-inner ol {
  list-style: decimal;
}
#terms .terms-inner ol ul {
  list-style: circle;
}
#terms .terms-inner ol ol {
  list-style: lower-alpha;
}

#terms {
  min-height: inherit;
  padding: 1.5rem;
}
#terms span {
  font-weight: 700 !important;
  font-size: 1.8rem !important;
}
#terms .terms-title {
  margin-bottom: 1.7rem;
  padding: 0 0 1rem 0.3rem;
  border-bottom: thin solid #898989;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#terms .terms-title > h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
#terms .terms-title .terms-select {
  width: 100%;
  max-width: 32rem !important;
  height: 4.4rem;
  padding: 0 0.7rem 0 1.5rem !important;
  border: 1px solid #e2e2e2 !important;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
#terms .terms-title .terms-select span {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  color: #585858 !important;
  pointer-events: none;
}
#terms .terms-title .terms-select .terms-date-selcet-option {
  width: 100%;
  max-width: 32rem !important;
  background: white;
  border: 1px solid #e2e2e2 !important;
  border-radius: 0.5rem;
  position: absolute;
  top: 4.4rem;
  left: 0;
}
#terms .terms-title .terms-select .terms-date-selcet-option .date-option-info {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  color: #585858 !important;
  padding: 1rem 1.5rem;
}
#terms .terms-title .terms-select .terms-date-selcet-option .date-option-info:hover {
  background: #f1f1f1;
  transition: all 0.3s;
}
#terms option {
  padding-right: 3rem !important;
  min-height: 2rem !important;
}
#terms .terms-inner {
  padding: 6rem 3.5rem;
  background: #fafafa;
}
#terms .terms-inner .terms-info {
  padding: 0 1rem;
  margin-top: 7rem;
}
#terms .terms-inner .terms-info:first-child {
  margin-top: 0;
  padding: 0rem 1rem;
}
#terms .terms-inner .terms-info .terms-info-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #101010;
}
#terms .terms-inner .terms-info .terms-info-title h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #101010;
}
#terms .terms-inner .terms-info .terms-info-content {
  font-size: 1.6rem;
  font-weight: 400;
  color: #101010;
  line-height: 22px;
  margin-top: 2.4rem;
}
#terms .terms-inner .terms-info .terms-info-content p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #101010;
}
#terms .terms-inner .terms-info .terms-info-content ol {
  padding-inline-start: 20px;
  margin-top: 1rem;
}
#terms .terms-inner .terms-info .terms-info-content ol ul {
  padding-inline-start: 20px;
}
#terms .terms-inner .terms-info .terms-info-content ol li {
  margin-top: 0.5rem;
}
#terms .terms-inner .terms-info .terms-info-content ol li:last-child {
  margin-bottom: 1rem;
}
#terms .terms-inner .terms-info .terms-info-content ul {
  padding-inline-start: 20px;
}
#terms .terms-inner .terms-info .terms-info-content table,
#terms .terms-inner .terms-info .terms-info-content th,
#terms .terms-inner .terms-info .terms-info-content td {
  border: 1px solid #101010;
  border-collapse: collapse;
  padding: 1rem;
}

@media (max-width: 1024px) {
  #terms {
    height: auto;
  }
  #terms span {
    font-weight: 700 !important;
    font-size: 1.6rem !important;
  }
  #terms .terms-title {
    padding: 0 0 1.15rem 0;
    margin-bottom: 3.05rem;
  }
  #terms .terms-title > h2 {
    font-size: 1.8rem;
  }
  #terms .terms-inner {
    padding: 0;
    background: inherit;
  }
  #terms .terms-inner .terms-info {
    margin-top: 3.5rem;
  }
  #terms .terms-inner .terms-info:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  #terms .terms-inner .terms-info .terms-info-title {
    font-size: 1.6rem;
  }
  #terms .terms-inner .terms-info .terms-info-title h2 {
    font-size: 1.6rem;
  }
  #terms .terms-inner .terms-info .terms-info-content {
    font-size: 1.4rem;
    line-height: 20px;
    margin-top: 1.6rem;
  }
  #terms .terms-inner .terms-info .terms-info-content p {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  #terms .terms-title {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  #terms .terms-title .terms-select {
    margin-bottom: 4rem;
  }
  #terms .terms-inner .terms-info .terms-info-content .table-container {
    overflow-x: scroll;
  }
  #terms .terms-inner .terms-info .terms-info-content .table-container table {
    min-width: 60rem;
  }
  #terms .terms-inner .terms-info .terms-info-content table,
#terms .terms-inner .terms-info .terms-info-content th,
#terms .terms-inner .terms-info .terms-info-content td {
    padding: 0.8rem;
  }
}
@keyframes rotate-down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes rotate-up {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotate-down {
  animation: rotate-down 0.3s forwards;
}

.rotate-up {
  animation: rotate-up 0.3s forwards;
}

.mt-3r {
  margin-top: 3rem;
}
.mt-3r li {
  list-style: disc;
}

@media screen and (max-width: 1440px) {
  header .headerWrap {
    max-width: 1072px;
  }
}
@media screen and (max-width: 1024px) {
  /* Layout */
  header .headerWrap {
    height: 6rem;
    padding: 0;
  }
  header .headerWrap .headerInner {
    height: 6rem;
    padding: 0 2rem;
  }
  header .headerWrap .headerInner h1 {
    width: 6.2rem;
    height: 2.5rem;
  }
  header .headerWrap .headerInner nav .responseBar {
    display: block;
  }
  header .headerWrap .headerInner nav ul {
    position: fixed;
    width: 0;
    height: 100vh;
    background-color: #183256;
    right: 0;
    top: 0;
    z-index: 120;
    display: none;
  }
  header .headerWrap .headerInner nav ul li {
    margin: 0;
    display: block;
    height: auto;
  }
  header .headerWrap .headerInner nav ul li:not(.close) > a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    padding: 1.5rem 1.9rem;
    display: block;
    height: auto;
  }
  header .headerWrap .headerInner nav ul li:not(.close) p {
    background-color: #0f2545;
    width: 100%;
    position: relative;
    top: inherit;
  }
  header .headerWrap .headerInner nav ul li:not(.close) p span {
    display: none;
  }
  header .headerWrap .headerInner nav ul li:not(.close) p a {
    padding: 1rem 1.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 2rem;
    display: block;
  }
  header .headerWrap .headerInner nav ul li:not(.close) em {
    display: none;
  }
  header .headerWrap .headerInner nav ul li.close {
    display: flex;
  }
  header .headerWrap .headerInner nav ul li:hover p {
    display: block;
  }
  header .headerWrap .headerInner button.goTo {
    display: none;
  }
  header .headerWrap .headerInner.open nav ul {
    animation: width-right 0.15s linear forwards;
    display: block;
  }
  header .headerWrap .headerInner.open .responseBg {
    display: block;
  }

  footer {
    padding: 9.8rem 5.3rem 5.3rem;
  }
  footer .footer-term ul {
    width: 92%;
  }

  .introduction-tab .tab-title {
    height: 6rem;
  }
  .introduction-tab .tab-title button {
    height: 6rem;
  }

  #wrap.sub {
    padding-top: 9.8rem;
  }
  #wrap.sub #contentWrap {
    min-height: 80vh;
  }

  .pageTitle {
    margin: 0 2.3rem 1rem;
  }
  .pageTitle strong {
    height: 4.5rem;
    padding-left: 5.7rem;
    font-size: 2rem;
  }

  .itgoWebTab {
    height: 5rem;
  }
  .itgoWebTab button {
    font-size: 1.6rem;
  }
  .itgoWebTab .indicate {
    height: 0.3rem;
  }

  .boardList ul li .info .list {
    padding: 1.4rem 0 1.4rem 2rem;
    height: auto;
    flex-wrap: wrap;
  }
  .boardList ul li .info .list .type {
    font-size: 1rem;
    padding-left: 0;
    order: 2;
  }
  .boardList ul li .info .list .type span {
    width: 6rem;
    padding: 0.3rem;
  }
  .boardList ul li .info .list .title {
    margin: 0 0 0.8rem 0;
    width: 100%;
    order: 1;
  }
  .boardList ul li .info .list .title b {
    font-size: 1.6rem;
  }
  .boardList ul li .info .list .date {
    flex-grow: 1;
    margin-left: 0.8rem;
    order: 3;
    text-align: left;
    font-size: 1.6rem;
  }
  .boardList ul li .info .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
  }
  .boardList ul li .info .btn button {
    width: 3rem;
    height: 3rem;
    background: url("../images/ic_down.svg") no-repeat 50% 50%;
    background-size: 3rem auto;
  }
  .boardList ul li .content {
    padding: 3rem;
  }
  .boardList ul li .content > div {
    font-size: 1.4rem;
    min-height: 12.1rem;
  }
  .boardList ul li .content > div.A {
    margin-left: 0;
  }

  .subTab {
    margin: 2.7rem 0 2.7rem 1.3rem;
    gap: 0.7rem;
  }
  .subTab button {
    height: 3.2rem;
    max-width: 8.3rem;
    font-size: 1.4rem;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 6.8rem 3rem;
  }
  footer .footer-logo {
    margin-bottom: 1.4rem;
  }
  footer .footer-address {
    margin-bottom: 2.3rem;
  }
  footer .footer-term {
    margin-bottom: 1.2rem;
  }
  footer .footer-term ul li {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  footer .footer-copyright {
    font-size: 1.4rem;
  }
}
@keyframes width-right {
  0% {
    width: 0;
    right: 0;
    opacity: 0;
  }
  100% {
    width: 28rem;
    opacity: 1;
  }
}
.second_driver_phone_front,
.second_driver_phone_front_road,
.second_driver_phone_front_truck,
.second_driver_phone_front_camera,
.second_driver_phone_front_tone,
.second_driver_phone_front_height,
.second_driver_phone_front_info_one,
.second_driver_phone_front_info_two,
.second_driver_phone_front_info_three {
  opacity: 0;
}

.first_shipper_phone_middle,
#first_shipper_phone_middle_road,
.first_shipper_phone_middle_chapter_three,
.first_shipper_phone_middle_chapter_two,
.first_shipper_phone_middle_chapter_one,
.first_shipper_phone_middle_truck,
.first_shipper_phone_middle_truck_info {
  opacity: 0;
}

.second_shipper_card_one,
.second_shipper_card_two,
.second_shipper_card_three,
.second_shipper_card_four,
.second_shipper_card_five {
  opacity: 0;
}

.introduction-tab-inner {
  width: 100%;
  padding: 12rem 0 5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.introduction-tab-inner .tab-contents {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 8.5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.introduction-tab-inner .tab-contents .tab-contents-text {
  width: 33%;
}
.introduction-tab-inner .tab-contents .tab-contents-text svg {
  margin-bottom: 3.5rem;
}
.introduction-tab-inner .tab-contents .tab-contents-text h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.introduction-tab-inner .tab-contents .tab-contents-text p {
  font-size: 2rem;
  color: #959595;
  word-break: keep-all;
  line-height: 150%;
}
.introduction-tab-inner .tab-contents .tab-motion {
  display: flex;
  justify-content: center;
  max-width: 65%;
}
.introduction-tab-inner .tab-contents .tab-motion > svg {
  height: auto;
}
.introduction-tab-inner .tab-contents:nth-child(2) {
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .introduction-tab .tab-title {
    height: 6rem;
  }
  .introduction-tab .tab-title button {
    height: 6rem;
  }
  .introduction-tab .tab-title .active-tab::before {
    height: 0.7rem;
  }

  .introduction-tab-inner {
    padding-top: 16rem;
  }
  .introduction-tab-inner .tab-contents {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .introduction-tab .tab-title {
    height: 5rem;
    top: 60rem;
  }
  .introduction-tab .tab-title button {
    font-size: 1.8rem;
    font-weight: 500;
    width: 25.6rem;
    height: 5rem;
  }
  .introduction-tab .tab-title .active-tab::before {
    height: 0.6rem;
  }

  .introduction-tab-inner {
    padding-top: 12rem;
  }
  .introduction-tab-inner .tab-contents {
    margin-bottom: 5.5rem;
    display: block;
    justify-content: center;
  }
  .introduction-tab-inner .tab-contents .tab-contents-text {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .introduction-tab-inner .tab-contents .tab-contents-text h2 {
    font-size: 3.6rem;
    text-align: center;
  }
  .introduction-tab-inner .tab-contents .tab-contents-text p {
    text-align: center;
    width: 70%;
  }
  .introduction-tab-inner .tab-contents .tab-motion {
    max-width: 100%;
  }
}
@media (max-width: 360px) {
  .introduction-tab-inner {
    padding: 7rem 0 0 0;
  }
  .introduction-tab-inner .tab-contents {
    max-width: 320px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .introduction-tab-inner .tab-contents .tab-contents-text > svg {
    width: 6.2rem;
    height: 6.2rem;
  }
  .introduction-tab-inner .tab-contents .tab-contents-text h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 1.1rem;
  }
  .introduction-tab-inner .tab-contents .tab-contents-text p {
    width: 100%;
    padding: 0 1rem;
  }
}
/***** Introduction *****/
#introduction .introduction-main {
  width: 100%;
  height: 90rem;
  background: #f3f5f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
#introduction .introduction-main .introduction-media {
  width: 100%;
  height: 90rem;
}
#introduction .introduction-main .introduction-media video {
  width: 100%;
  height: 90rem;
  object-fit: cover;
}
#introduction .introduction-main .introduction-media svg {
  width: 100%;
  height: 90rem;
}
#introduction .introduction-main .introduction-main-text {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#introduction .introduction-main .introduction-main-text .main-logo {
  margin-bottom: 3.9rem;
}
#introduction .introduction-main .introduction-main-text .main-video-title {
  font-size: 2.6rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 2.4rem;
}
#introduction .introduction-main .introduction-main-text .main-video-subtitle {
  font-size: 3.4rem;
  font-weight: 500;
  color: #ffffff;
}
#introduction .introduction-main .introduction-main-text .main-svg-title {
  font-size: 4rem;
  font-weight: 500;
  color: #ffffff;
}
#introduction .introduction-main .introduction-main-text .main-svg-subtitle {
  font-size: 7rem;
  font-weight: 700;
  color: #ffffff;
}

.download-link {
  width: 100%;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-link a {
  margin: 0 2.5rem;
  cursor: pointer !important;
}

@media (max-width: 768px) {
  #introduction .introduction-main {
    height: 60rem;
  }
  #introduction .introduction-main .introduction-media {
    height: 60rem;
  }
  #introduction .introduction-main .introduction-media video {
    height: 60rem;
  }
  #introduction .introduction-main .introduction-media svg {
    height: 60rem;
  }
  #introduction .introduction-main .introduction-main-text {
    padding: 0 5rem;
  }
  #introduction .introduction-main .introduction-main-text .main-logo {
    margin-bottom: 2.2rem;
  }
  #introduction .introduction-main .introduction-main-text .main-logo > svg {
    width: 24.7rem;
    height: 9.7rem;
  }
  #introduction .introduction-main .introduction-main-text .main-video-title {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.7rem;
  }
  #introduction .introduction-main .introduction-main-text .main-video-subtitle {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
  }
  #introduction .introduction-main .introduction-main-text .main-svg-title {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }
  #introduction .introduction-main .introduction-main-text .main-svg-subtitle {
    font-size: 3.8rem;
  }

  .download-link {
    padding: 10rem 0 16.2rem 0;
    flex-direction: column;
  }
  .download-link a:nth-child(2) {
    margin-top: 3rem;
  }
}
@media (max-width: 360px) {
  #introduction .introduction-main .introduction-main-text .main-subtitle {
    padding: 0 15%;
  }

  .download-link {
    padding-bottom: 10.7rem;
    flex-shrink: 0;
  }
  .download-link > a > div > svg {
    width: 28rem;
    height: 8rem;
  }
}
