@charset "utf-8";
@import "global";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

* {margin: 0;padding: 0;font-family: "Pretendard Variable", Pretendard, sans-serif;}
html {font-size: 62.5%;}
html,body{width:100%;height:100%;padding:0;margin:0;}
html{height:100%;-webkit-text-size-adjust:none;}
body {overflow-x: auto;position: relative;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td{color:#101010;font-weight: 400;}

img {border:none;user-select: none;}
ul,ol {list-style:none;}
em {font-style:normal;}
a {text-decoration:none;color:inherit;}
a:hover,a:active,a:focus {text-decoration:none;}
input, button, button:focus, input:focus {outline:none;}
button {border: none;background: none;}
table,td,th {border-collapse: collapse; border-spacing:0;margin:0;padding:0;}
textarea {letter-spacing: 0;outline: none;overflow: auto;resize: none;}
input::placeholder, textarea::placeholder {color: #999;}

/* Layout */
header {
    width: 100%;position: fixed;top: 0;left: 0;z-index: 100;transition: height 1s;box-shadow: 0 0 20px -10px rgba(16, 16, 16, 0.2);background-color: #fff;
    .headerWrap {
        width: 100%;height: 10rem;max-width: calc(100% - 6.8rem);margin: auto;padding: 3rem 2rem 0 2rem;transition: all 0.3s;box-sizing: border-box;
        &.on {
            height: 14rem;
        }
        .headerInner {
            width: 100%;display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;
            h1 {
                text-indent: -999em;width: 11.2rem;height: 4.5rem;background:url("../images/logo.svg") no-repeat 50% 50%;cursor: pointer;background-size: 100% auto;
                a {display: block;height: calc(100% - 0px)}
            }
            nav {
                position: relative;
                .responseBar {
                    display: none;cursor: pointer;
                    span {
                        display: block;width: 2rem;height: 0.2rem;background-color: #101010;margin: 0.4rem 0;
                    }
                }

                ul {
                    display: flex;align-items: center;
                    li {
                        margin: 0 2.5rem;position: relative;height: 5rem;display: flex;align-items: center;justify-content: center;
                        & > a {
                            font-size: 2.2rem;font-weight: 700;height: 3.6rem;
                        }
                        em {width: 0;height: 0.5rem;background-color: #fff;top: 3.5rem;transition: width 0.3s;display: block;position: absolute;left: 50%;transform: translateX(-50%);}
                        p {
                            position: absolute;left: 0;top: 3.6rem;display: none;align-items: center;
                            a {
                                font-size: 2rem;font-weight: 500;padding: 2rem;white-space: nowrap;
                                &:first-child {padding-left: 0;}
                            }
                        }
                        &:hover {
                            em {width: 100%;background-color: #101010;}
                            p {display: flex;}
                        }

                        &.close {
                            padding: 1.3rem 2rem;display: none;justify-content: flex-end;border-bottom: thin solid rgba(217,217,217,.1);
                            button {
                                cursor: pointer;width: 14px;height: 14px;background: url("../images/close.svg") no-repeat 50% 50%;
                            }
                        }
                    }
                }
            }
            .responseBg {
                position: fixed;width: 100%;height: 100vh;background: rgba(0,0,0,.8);backdrop-filter: blur(5px);top: 0;left: 0;z-index: 110;display: none;
            }
            .goTo {
                height: 3.6rem;font-size: 2rem;font-weight: 500;color: #101010;border-radius: 3rem;border: 1px solid rgba(16,16,16,.6);padding: 0.6rem 1.7rem;box-sizing: border-box;
            }
        }
    }
}

/* Footer */
footer {
    background-color: #183256;padding: 6.5rem;display: flex;align-items: center;flex-direction: column;text-align: left;
    .footer-logo {
        text-indent: -999em;background: url("../images/logo_white.svg") no-repeat 50% 50%;background-size: 100% auto;width: 10rem;height: 4rem;margin-bottom: 2.4rem;
    }
    .footer-address {
        display: flex;align-items: center;gap: 0 2rem;flex-wrap: wrap;margin-bottom: 0.3rem;
        span {font-size: 2rem;font-weight: 600;color: #fff;}
    }
    .footer-term {
        margin-bottom: 1rem;
        ul {
            display: flex;align-items: center;flex-wrap: wrap;
            li {
                font-size: 1.8rem;color: rgba(255,255,255,.8);height: 1.5rem;display: flex;align-items: center;justify-content: center;border-right: 1px solid rgba(255,255,255,.5);padding: 0 0.8rem;margin-top: 1.95rem;
                b {color: #fff;}
                &:first-child {padding-left: 0;}
                &:last-child {border-right: none;}
            }
        }
    }
    .footer-copyright {
        font-size: 1.8rem;color: rgba(255,255,255,.8);
    }
}
/* Layout */
#wrap.home {
    &.blackTop, &.transTop {
        header {
            box-shadow: none;
            .headerWrap {
                .headerInner {
                    h1 {background-image: url("../images/logo_white.svg");}
                    nav {
                        .responseBar {
                            span {background-color: #fff;}
                        }
                        ul {
                            li {
                                & > a, p a {color: #fff;}
                                &:hover {
                                    em {background-color: #fff;}
                                }
                            }
                        }
                    }
                    .goTo {
                        border-color: rgba(255,255,255,.6);color: #fff;border-width: 2.6px;
                    }
                }
            }
        }
    }
    &.blackTop {
        header {background: rgba(0, 0, 0, 0.5);backdrop-filter: blur(5px);}
    }
    &.transTop {
        header {background-color: transparent;}
    }
}

#wrap.sub {
    padding-top: 20rem;
    #contentWrap {min-height: 130rem;max-width: 1032px;margin: auto;width: 100%;}
}

.itgoWebTab {
    height: 7rem;display: flex;align-items: center;justify-content: center;position: relative;border-bottom: 1px solid #898989;
    button {
        font-size: 2rem;font-weight: 600;height: 7rem;cursor: pointer;
    }
    .indicate {
        position: absolute;height: 0.5rem;background-color: #e5318e;bottom: -1px;left: 0;transition: left .5s;
    }

    &.setTab_1 {
        .indicate {left: 0;}
    }

    @for $i from 1 to 10 {
        &.setTab_#{$i} {
            button:nth-child(#{$i}) {
                color: #e5318e;
            }
        }
    }
}

.pageTitle {
    margin-bottom: 4.3rem;
    strong {
        height: 7.5rem;display: flex;align-items: center;font-size: 2.6rem;padding-left: 10.1rem;background-size: auto 100%;background-repeat: no-repeat;background-position: 0 50%;
        &.notice {background-image: url("../images/ic_notice.svg");}
        &.qna {background-image: url("../images/ic_qna.svg");}
    }
}
#introduction {
    .introduction-main {
        width: 100%;height: 90rem;background-color: #f3f5f6;display: flex;align-items: center;justify-content: center;
        .introduction-media {
            width: 100%;height: 90rem;
            video {
                width: 100%;height: 90rem;object-fit: cover;
            }
        }
        .introduction-main-text {
            text-align: center;width: 100%;display: flex;align-items: center;justify-content: center;position: absolute;flex-direction: column;
        }
    }
    .introduction-tab {
        .itgoWebTab {
            width: 100%;background-color: #f3f5f6;border: none;
            button, .indicate {
                width: calc(100% / 3);
            }
            &.setTab_2 {
                .indicate {left: calc((100% / 3) * 1);}
            }
            &.setTab_3 {
                .indicate {left: calc((100% / 3) * 2);}
            }
        }
    }
}

.noticeTab {
    .itgoWebTab {
        button, .indicate {
            width: calc(100% / 2);
        }
        &.setTab_2 {
            .indicate {left: calc((100% / 2) * 1);}
        }
    }
}
.qnaTab {
    .itgoWebTab {
        button, .indicate {
            width: calc(100% / 4);
        }
        &.setTab_2 {
            .indicate {left: calc((100% / 4) * 1);}
        }
        &.setTab_3 {
            .indicate {left: calc((100% / 4) * 2);}
        }
        &.setTab_4 {
            .indicate {left: calc((100% / 4) * 3);}
        }
    }
}
.subTab {
    display: flex;align-items: center;gap: 1.5rem;margin: 4.5rem  0 2.4rem;
    button {
        min-width: 9rem;height: 4.4rem;background-color: #f3f5f6;border-radius: 3rem;max-width: 11rem;font-size: 1.8rem;color: #666;transition: all 0.5s;font-weight: 600;width: 34.4rem;cursor: pointer;
        &.active {
            background-color: #183256;color: #fff;
        }
    }
}

.boardList {
    ul {
        li {
            border-bottom: 1px solid #e2e2e2;
            .info {
                display: flex;align-items: center;justify-content: space-between;width: 100%;
                .list {
                    display: flex;align-items: center;justify-content: space-between;padding: 2.3rem 0;height: 2.3rem;width: calc(100% - 70px);
                    .type {
                        font-size: 1.4rem;padding-left: 1.6rem;flex-grow: 0;display: flex;align-items: center;gap: 0.4rem;
                        span {
                            text-align: center;width: 8rem;border: thin solid #e5318e;box-sizing: border-box;display: block;padding: 0.3rem 0;border-radius: 2rem;color: #e5318e;
                        }
                        em {
                            color: #828282;
                        }
                    }
                    .title {
                        flex-grow: 1;margin-left: 1.3rem;
                        b {
                            font-size: 1.8rem;font-weight: 500;display: block;
                            &.Q {
                                background: url("../images/ic_q.svg") no-repeat 0 50%;padding-left: 1.8rem;
                            }
                        }
                    }
                    .date {color: #aaa;text-align: right;flex-grow: 0;font-size: 1.8rem;font-weight: 500;}
                }
                .btn {
                    display: flex;align-items: center;justify-content: center;width: 70px;
                    button {
                        width: 3rem;height: 3rem;background: url("../images/ic_down.svg") no-repeat 50% 50%;background-size: 3rem auto;
                    }
                }
            }
            .content {
                background-color: #f3f5f6;padding: 2.45rem 10.5rem;border-top: 1px solid #e2e2e2;display: none;
                & > div {
                    min-height: 15.6rem;font-size: 1.6rem;font-weight: 400;line-height: 1.5;
                    &.A {
                        background: url("../images/ic_a.svg") no-repeat 0 4px;padding-left: 2.4rem;margin-left: 5.6rem;
                    }
                }
            }
            &.open {
                .info {
                    .btn {
                        transform: rotate(180deg);
                    }
                }
                .content {
                    display: block;
                }
            }
        }
    }
}

#terms {
    .terms-title {
        margin-bottom: 1.7rem;padding: 0 0 1rem 0.3rem;border-bottom: thin solid #898989;display: flex;justify-content: space-between;align-items: center;
        h2 {font-size: 2.4rem;font-weight: 700;}
        .terms-select {
           width: 100%;max-width: 32rem;height: 4.4rem;padding: 0 0.7rem 0 1.5rem;border: 1px solid #e2e2e2;border-radius: 0.5rem;display: flex;align-items: center;box-sizing: border-box;
            justify-content: space-between;position: relative;z-index: 1;
            span {
                font-weight: 500;color: #585858;font-size: 1.6rem;
            }
            svg {
                transition: all .3s;
            }
            .terms-date-select-option {
                position: absolute;display: none;top: 4.6rem;left: 0;width: 100%;background-color: #fff;border: 1px solid #e2e2e2;border-radius: 0.5rem;
                li {
                    font-size: 1.4rem;font-weight: 500;color: #585858;padding: 1rem 1.5rem;
                }
            }
            &.open {
                .terms-date-select-option {display: block;}
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

#terms .terms-inner {
    padding: 6rem 3.5rem;margin-bottom: 12.2rem;
    max-height: calc(100vh - 0px);overflow-y: scroll;
    background: #fafafa;
    ol {
        list-style: decimal;
        ul {
            list-style: circle;
        }
        ol {
            list-style: lower-alpha;
        }

    }
}

@import "terms";
@import "media";
@import "gsap";
@import "introductionTab";